<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-button size="small" (click)="checkBluetothIsEnabled()">
        <ion-icon name="bluetooth-outline"></ion-icon>
      </ion-button>
      <ion-button [disabled]="deviceIsConnected" size="small" (click)="disconnectDevice()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
      <ion-button [disabled]="deviceIsConnected" size="small" (click)="getBatteryLevel()">
        <ion-icon name="battery-charging"></ion-icon>
      </ion-button>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngIf="devices.length">
    <ion-card-header>
      Dispositivos encontrados:
    </ion-card-header>

    <ion-list *ngFor="let device of devices">
        <ion-button size="small" (click)="connectDevice(device)">
        {{device.name}}
        </ion-button>      
    </ion-list>
  </ion-card>
  
  <ion-card *ngIf="tags">
    <ion-card-header>
      TAGS encontradas:
    </ion-card-header>

        {{tags}}<br>
        {{battery}}  
    
  </ion-card>
</ion-content>
